<header class="header">
  <div class="container">
    <picture class="header__imageContainer">
      <img src="./assets/img/logo.png" alt="logo" />
    </picture>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__listItem">
          <a href="#presentacion">
            <picture class="nav__itemImgeContainer">
              <img
                class="nav__itemImage"
                src="./assets/icons/person_outline.svg"
                alt="presentacion" />
            </picture>
            <p class="nav__itemText">Presentación</p>
          </a>
        </li>
        <li class="nav__listItem">
          <a href="#familia">
            <picture class="nav__itemImgeContainer">
              <img class="nav__itemImage" src="./assets/icons/groups.svg" alt="familia" />
            </picture>
            <p class="nav__itemText">Familia</p>
          </a>
        </li>
        <li class="nav__listItem">
          <a href="#amigos">
            <picture class="nav__itemImgeContainer">
              <img class="nav__itemImage" src="./assets/icons/child_care.svg" alt="amigos" />
            </picture>
            <p class="nav__itemText">Amigos</p>
          </a>
        </li>
        <li class="nav__listItem">
          <a href="#estudios">
            <picture class="nav__itemImgeContainer">
              <img class="nav__itemImage" src="./assets/icons/school.svg" alt="estudios" />
            </picture>
            <p class="nav__itemText">Estudios</p>
          </a>
        </li>
        <li class="nav__listItem">
          <a href="#contacto">
            <picture class="nav__itemImgeContainer">
              <img class="nav__itemImage" src="./assets/icons/mail_outline.svg" alt="contacto" />
            </picture>
            <p class="nav__itemText">Contacto</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
