<section id="estudios" class="estudios">
  <h2 class="estudios__title">Estudios</h2>
  <div class="estudios__main">
    <article class="estudios__card estudios__card--1">
      <div class="estudios___cardContent">
        <p class="estudios__cardEstudio">Ciencias de la computación</p>
        <p class="estudios__cardInstitución">Univercidad de ciencia y tecnología</p>
        <div class="estudios__cardDateContent">
          <img src="./assets/icons/date_range.svg" alt="date" />
          <p class="estudios_cardDate">2015 - 2020</p>
        </div>
      </div>
      <div class="estudios__cardLine">
        <div class="circle"></div>
        <div class="rect"></div>
      </div>
    </article>
    <article class="estudios__card estudios__card--2">
      <div class="estudios___cardContent">
        <p class="estudios__cardEstudio">Desarrollo web backend</p>
        <p class="estudios__cardInstitución">TECSUP</p>
        <div class="estudios__cardDateContent">
          <img src="./assets/icons/date_range.svg" alt="date" />
          <p class="estudios_cardDate">2014 - 2015</p>
        </div>
      </div>
      <div class="estudios__cardLine">
        <div class="circle"></div>
        <div class="rect"></div>
      </div>
    </article>
    <article class="estudios__card estudios__card--3">
      <div class="estudios___cardContent">
        <p class="estudios__cardEstudio">Desarrollo web frontend</p>
        <p class="estudios__cardInstitución">TECSUP</p>
        <div class="estudios__cardDateContent">
          <img src="./assets/icons/date_range.svg" alt="date" />
          <p class="estudios_cardDate">2014 - 2014</p>
        </div>
      </div>
      <div class="estudios__cardLine">
        <div class="circle"></div>
      </div>
    </article>
  </div>
</section>
