<section id="amigos" class="amigos">
  <h2 class="amigos__title">Amigos</h2>
  <div class="amigos__main">
    <picture class="amigos__imageContainer">
      <img src="./assets/img/shanthal2.png" alt="shanthal" />
    </picture>
    <div class="card_amigo card_amigo--jorge">
      <img class="card_amigoImage" src="./assets/img/amigoJorge.png" alt="jorge" />
      <p class="card_amigoName">Jorge Gonzales Atenaz</p>
      <button>Ver más</button>
    </div>
    <div class="card_amigo card_amigo--carla">
      <img class="card_amigoImage" src="./assets/img/amigaCarla.png" alt="carla" />
      <p class="card_amigoName">Carla Ramoz Porras</p>
      <button>Ver más</button>
    </div>
    <div class="card_amigo card_amigo--dayli">
      <img class="card_amigoImage" src="./assets/img/amigaDayli.png" alt="dayli" />
      <p class="card_amigoName">Dayli Ocampo Santos</p>
      <button>Ver más</button>
    </div>
    <div class="card_amigo card_amigo--leifer">
      <img class="card_amigoImage" src="./assets/img/amigoLeifer.png" alt="leifer" />
      <p class="card_amigoName">Leifer Granado Torre</p>
      <button>Ver más</button>
    </div>
  </div>
</section>
