<section id="familia" class="familia">
  <h2 class="familia__title">Familia</h2>
  <ul class="familia__listCards">
    <li>
      <article class="familia__card">
        <picture class="familia__imageContainer">
          <img src="./assets/img/mama.jpg" alt="mama" />
        </picture>
        <p class="familia__tipo">MADRE</p>
        <p class="familia__name">Marta Vargas Contreras</p>
        <div class="familiar_btnContainer">
          <a href="#">Ver más</a>
          <img src="./assets/icons/arrow_right.svg" alt="arrow icon" />
        </div>
      </article>
    </li>
    <li>
      <article class="familia__card">
        <picture class="familia__imageContainer">
          <img src="./assets/img/papa.jpg" alt="papa" />
        </picture>
        <p class="familia__tipo">PADRE</p>
        <p class="familia__name">Franco Tello Ojeda</p>
        <div class="familiar_btnContainer">
          <a href="#">Ver más</a>
          <img src="./assets/icons/arrow_right.svg" alt="arrow icon" />
        </div>
      </article>
    </li>
    <li>
      <article class="familia__card">
        <picture class="familia__imageContainer">
          <img src="./assets/img/hermanoRaul.jpg" alt="hermano raul" />
        </picture>
        <p class="familia__tipo">HERMANO</p>
        <p class="familia__name">Raul Tello Vargas</p>
        <div class="familiar_btnContainer">
          <a href="#">Ver más</a>
          <img src="./assets/icons/arrow_right.svg" alt="arrow icon" />
        </div>
      </article>
    </li>
    <li>
      <article class="familia__card">
        <picture class="familia__imageContainer">
          <img src="./assets/img/hermanoPatricio.jpg" alt="hermano patricio" />
        </picture>
        <p class="familia__tipo">HERMANO</p>
        <p class="familia__name">Patricio Tello Vargas</p>
        <div class="familiar_btnContainer">
          <a href="#">Ver más</a>
          <img src="./assets/icons/arrow_right.svg" alt="arrow icon" />
        </div>
      </article>
    </li>
  </ul>
</section>
